<%- include('partials/head')%>

<%- include('partials/navbar')%>
<h1>List of Cities</h1>
<ul>
    <% for(let city of cities) { %>
    <li><%= city %></li>
    <% } %>
</ul>
<%- include('partials/footer')%>