<%- include('partials/head')%>

<%- include('partials/navbar')%>

<h1> Welcome to Our Subreddit Explorer! <%= 'hello world'.toUpperCase() %></h1>
<p>  
    Discover the fascinating world of subreddits with our Subreddit Explorer application. Powered by the latest web technologies, this platform allows you to seamlessly navigate through various subreddits and explore their unique content.
    
    Technologies Used:
<h2> Express.js:</h2>      Our backend is built on Express.js, a fast and minimalist web framework for <h2>Node.js.</h2> It handles server-side logic, routing, and integrates seamlessly with our chosen templating engine.
<br>     
<h2>EJS (Embedded JavaScript):</h2>  EJS is our templating engine of choice, making it easy to dynamically generate HTML content and display data on the client side.
    Node.js: The backbone of our application, Node.js ensures high performance and non-blocking I/O, making your browsing experience smooth and efficient. 
</p>



<%- include('partials/footer')%>